@font-face {
font-family: AbrilFatface-Regular;
src: local('images/abril-fatface/AbrilFatFace-Regular.ttf');
}

* {
	color: whitesmoke;
	background-color: black;
	text-align: center;
	margin: auto auto;
}

.name{
	font-size: 156px;
	font-family: AbrilFatface-Regular, sans-serif;
}

body{
	width:80%;
	margin:auto auto;
	padding: 20px;
}

.section table {
	border:0; 
	width:100%;
	padding: 5px;
}


table tr td {
	padding: 3px;
}

h1 {
	border: 2px solid black;
	padding: 7px;
    border-radius: 8px;
    font-size: 45px;
    margin: 20px 45px;
}

.header {
	font-size: 40px;
    margin-bottom: 75px;
    overflow: hidden;
}

a{
	text-decoration: none;
	color: darkgray;
	margin: 0px 10px
}


h2 {
	font-size: 52px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}


.title {
	width: 640px;
	margin: 20px auto;
}

.body ul li {
	list-style-type: none;
	margin-bottom: 25px;
}

main{
	height: 640px;
	margin: 300px 0px;
}